html {
    background-color: bisque;
}

header {
    font-size: 12ch;
    font-weight: bolder;
    background-color: brown;
    height: 150px;
}

body {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    font-size: 8ch;
    
}

div {
    font-size: 3ch;
}

button {
    font-size: 1ch;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 4ch;
    width: 8ch;
    background-color: rgb(202, 180, 114);
    border-radius: 2px;
}

button:hover {
    background-color: rgb(105, 175, 137);
}

#div1 {
    font-size: 4ch;
    padding-top: 50px;
    font-weight: bolder;
}

