html {
    background-color: bisque;
}

body {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    font-size: 8ch;
}

div {
    font-size: 3ch;
}

button {
    font-size: 1ch;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 5ch;
    width: 10ch;
    background-color: rgb(200, 191, 165);
}